@import url('https://fonts.googleapis.com/css?family=Belgrano:700|Belgrano:400');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  box-sizing: border-box;
  font-family: 'Belgrano';
  font-weight: 400;
}

#root {
  height: 100%;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}