@import url('https://fonts.googleapis.com/css?family=Belgrano:700|Belgrano:400');

@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: light) {
  :root {
    background-color: theme('colors.background.light');
    color: theme('colors.text.light');
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: theme('colors.background.dark');
    color: theme('colors.text.dark');
  }
}

:root {
  box-sizing: border-box;
  font-family: 'Belgrano';
  font-weight: 400;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}